


<form class="login" method="post"  action="/index">
  <h4>Login</h4>
  <div class="equal width fields">
    <div class="field">
      <label>Email</label>
      <input required type="text" placeholder="Email" name="email">
    </div>
    <br>
    <div class="field">
      <label>Password</label>
      <input required type="password" placeholder="Password" name="password">
    </div>
  </div>
  <br>
  <button>Login</button>
 </form>
</div>
</div>